body {
    width: 100%;
    background-image: url('../images/comedy-roberts-background.png');
    background-repeat: none;
    background-size: 100%;
}

.profile-img {
    height: 20rem;
}

.about-me {
    padding: 10px;
}

.btm-border {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}